<%- include("../partials/header", { title }) %>
<section class="card narrow">
  <h1>Forbidden</h1>
  <p>You do not have permission to view this page.</p>
</section>
<%- include("../partials/footer") %>

